@model CommonProfile

<style>
    .palabras-header p {
        margin: 0;
    }

    .palabras-fuertes{
        color: red;
        font-size: 14px;
    }

    .rol-acceso{
        color: #fff;
        background-color: #181624;
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="left col-md-3 grid gap-0 row-gap-3">
            <div class="row p-2 g-col-12">
                <div class="sidebar rol-acceso">
                    <strong>MODERADOR</strong>
                </div>
            </div>
            <div class="row p-2 g-col-12">
                <div class="profile">
                    <div class="profile-photo-align">
                        <div class="profile-photo-primary">
                            <img src="data:image;base64,@Convert.ToBase64String(Model.Usuario.Imagen)" width='98' height='98' alt="Foto de perfil" class="imagen-turista">
                        </div>
                    </div>
                    <div class="handle">
                        <br />
                        <b>@Model.Usuario.Nombre @Model.Usuario.Apellido</b>
                        <p class="text-muted">
                            Edad: @Model.Usuario.Edad
                            <br />
                            E-mail: @Model.Usuario.Correo
                        </p>
                    </div>
                </div>
            </div>
            <div class="row p-2 g-col-12">
                <div class="sidebar">
                    <a class="menu-item" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg width="20" height="20" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 14h-4v7h4v-7Z"></path>
                            <path d="m20.42 10.184-7.71-7.88a.999.999 0 0 0-1.42 0l-7.71 7.89a2 2 0 0 0-.58 1.43v8.38a2 2 0 0 0 1.89 2H8v-9a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v9h3.11a2 2 0 0 0 1.89-2v-8.38a2.07 2.07 0 0 0-.58-1.44Z"></path>
                        </svg>&nbsp; &nbsp;<h5> Inicio</h5>
                    </a>
                    <a class="menu-item" asp-area="" asp-controller="Moderador" asp-action="Profile">
                        <svg viewBox="0 0 24 24" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5 7.063C16.5 10.258 14.57 13 12 13c-2.572 0-4.5-2.742-4.5-5.938C7.5 3.868 9.16 2 12 2s4.5 1.867 4.5 5.063zM4.102 20.142C4.487 20.6 6.145 22 12 22c5.855 0 7.512-1.4 7.898-1.857a.416.416 0 0 0 .09-.317C19.9 18.944 19.106 15 12 15s-7.9 3.944-7.989 4.826a.416.416 0 0 0 .091.317z" fill="#000000"></path></g></svg>
                        &nbsp; &nbsp;
                        <h5> Mi perfil</h5>
                    </a>
                    <a class="menu-item" asp-area="" asp-controller="Moderador" asp-action="vBlackList">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                        &nbsp; &nbsp;
                        <h5> Mantenimiento</h5>
                    </a>
                    <a class="menu-item" asp-area="" asp-controller="Home" asp-action="Logout">
                        <svg width="20" height="20" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 11.001H7.14l3.63-4.36a1.001 1.001 0 0 0-1.54-1.28l-5 6a1.184 1.184 0 0 0-.09.15c0 .05 0 .08-.07.13a1 1 0 0 0-.07.36 1 1 0 0 0 .07.36c0 .05 0 .08.07.13.026.052.056.103.09.15l5 6a1 1 0 0 0 1.41.13 1 1 0 0 0 .13-1.41l-3.63-4.36H19a1 1 0 0 0 0-2Z"></path>
                        </svg>&nbsp; &nbsp;<h5> Cerrar sesión</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="middle col-md-6 grid gap-0 row-gap-3">
            <div class="row p-2 g-col-12">
                
                <div id="contenido-comentario">
 
                </div>
            </div>
        </div>
        <div class="right col-md-3 grid gap-0 row-gap-3">

            <div class="row p-2 g-col-12">
                <div class="data">
                    <div class="row">
                        <div class="col-auto">
                            <b style="font-size:17px;">Noticias relevantes</b>
                            <p>En esta sección encontrarás las noticias más relevantes del mundo del turismo en el país.</p>
                        </div>
                    </div>
                    <div class="news" id="news">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    @section scripts {
        <script type="text/javascript">

            $(document).ready(function () {
                //cargarDatosCategoria();
                callAPI();
                cargarDatos();
            });

            function cargarDatos(){

                $.ajax({
                url: '@Url.Action("cargarComentariosAjax", "Moderador")',
                type: 'post',
                dataType: 'json',
                cache: false,
                    beforeSend: function () {
                        var div = $("#contenido-comentario");
                        var div2 = "<div class='feed mb-3'><div class='d-flex align-items-center'>";
                        div2 += "<p>Cargando ... </p>";
                        div2 += "<div class='spinner-border ms-auto spinner-border-sm' role='status' id='cargandoSpinner' aria-hidden='true'></div></div></div>";

                        div.empty();
                        div.append(div2);
                    }
            }).done(function (resp) {
                console.log(resp);
                var div = $("#contenido-comentario");
                var div2 = "";

                if (resp.length > 0) {
                    $.each(resp, function (index, respuesta) {

                        var fechaPublicacion = new Date(respuesta.fecha);
                        var diferencia = new Date() - fechaPublicacion;

                        var formatoFecha;

                        if (diferencia / (1000 * 60 * 60 * 24) >= 2) {
                            formatoFecha = Math.floor(diferencia / (1000 * 60 * 60 * 24)) + " días atrás";
                        } else if (diferencia / (1000 * 60 * 60 * 24) >= 1) {
                            formatoFecha = "1 día";
                        } else {
                            var segundos = Math.floor(diferencia / 1000);
                            var minutos = Math.floor(diferencia / (1000 * 60));
                            var horas = Math.floor(diferencia / (1000 * 60 * 60));
                            var bandera = true;
                            formatoFecha = "";

                            if (bandera && segundos >= 0 && segundos < 60) {
                                formatoFecha = "Hace " + segundos + " segundos";
                                bandera = false;
                            }

                            if (bandera && minutos >= 0 && minutos < 60) {
                                formatoFecha = "Hace " + minutos + " minutos";
                                bandera = false;
                            }

                            if (bandera && horas >= 0 && horas < 60) {
                                formatoFecha = "Hace " + horas + " horas";
                                bandera = false;
                            }
                        }

                        div2 += `<div class="feed mb-3">
                                    <div class="palabras-header">
                                        <p class="h4">ID Comentario: ` + respuesta.idComentario + `</p>
                                                <p>Usuario: ` + respuesta.nombreCompleto + `</p>
                                        <p>Fecha: ` + fechaPublicacion + `</p>
                                        <p>Tiempo en espera: <strong>` + formatoFecha + `</strong></p >
                                    </div>
                                    <br />`;

                        var comentario = respuesta.comentario;
                        var palabrasComentario = comentario.split(' ');

                        //var palabrasEncontradas = $.grep(palabrasComentario, function (palabra) {
                        //    return $.inArray(palabra, @Html.Raw(Json.Serialize(Model.blacklist))) !== -1;
                        //});

                        var palabrasEncontradas = $.grep(palabrasComentario, function (palabra) {
                            var palabraEnListaNegra = $.inArray(palabra, @Html.Raw(Json.Serialize(Model.blacklist))) !== -1;
                            var estadoPalabra = getModelBlacklistEstado(palabra); // Suponiendo que existe una función getModelBlacklistEstado para obtener el estado de la palabra en Model.blacklist
                            return palabraEnListaNegra && estadoPalabra;
                        });

                        console.log(palabrasEncontradas);

                        var acumulativas = palabrasEncontradas.join(', ');

                        var palabrasFiltradas = acumulativas.split(', ');
                        var nuevaCadena = comentario;
                        $.each(palabrasFiltradas, function (index, item2) {
                            nuevaCadena = nuevaCadena.replace(item2, "<strong class='palabras-fuertes'>" + item2 + "</strong>");
                        });

                        div2 += `<p>Palabras en BlackList Encontradas: <strong> ` + acumulativas + `</strong></p><br />`;
                        div2 += `<p><strong>Comentario: </strong>` + nuevaCadena + `</p>`;
                        div2 += `<strong>Accion: </strong>
                                    <div class="btn-group">
                                        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg width="20" height="20" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M15.964 3.793a3 3 0 0 1 4.243 4.242l-7.122 7.123a3 3 0 0 1-1.533.82l-2.942.588a1 1 0 0 1-1.176-1.176l.588-2.942a3 3 0 0 1 .82-1.533l7.122-7.122Zm2.829 1.414a1 1 0 0 0-1.414 0L17 5.586 18.414 7l.379-.379a1 1 0 0 0 0-1.414ZM17 8.414 15.586 7l-5.33 5.33a1 1 0 0 0-.273.51l-.294 1.47 1.47-.293a1 1 0 0 0 .512-.274L17 8.414ZM6 5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-6a1 1 0 1 1 2 0v6a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h6a1 1 0 1 1 0 2H6Z" clip-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                        <ul class="dropdown-menu">
                                           <li><a class="dropdown-item" onclick=aprobarComentario(` + respuesta.idComentario + `)>Aprobar</a></li>
                                           <li><a class="dropdown-item" onclick="rechazarComentario(` + respuesta.idComentario + `)">Rechazar</a></li>
                                        </ul>
                                    </div>
                                </div>`;


                    });
                } else {
                    div2 += `<div class="feed mb-3"><p class="fs-5">Sin publicaciones ...</p></div>`;
                }
          
                div.empty();
                div.append(div2);

            }).fail();

            }

        function getModelBlacklistEstado(palabra) {
            var estado;
            $.ajax({
                url: '@Url.Action("getModelBlacklistEstado", "Moderador")',
                type: 'GET',
                data: { palabra: palabra },
                async: false,
                success: function (response) {
                    estado = response;
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
            return estado;
        }



        function rechazarComentario(idComentario) {

            console.log(idComentario);

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger me-4'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: '¿Estás seguro?',
                text: "Si consideras que el comentario infringe nuestras políticas del uso del sistema, elimina su comentario",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("RechazarComentario", "Moderador")',
                        type: 'post',
                        dataType: 'json',
                        cache: false,
                        data: { id: idComentario }
                    }).done(function (resp) {
                        if (resp) {
                            swalWithBootstrapButtons.fire(
                                'Rechazado!',
                                'El comentario ha sido rechazado exitosamente.',
                                'success'
                            )
                            cargarDatos();
                        } else {
                            swalWithBootstrapButtons.fire(
                                'Cancelado',
                                'La acción se ha omitido en este momento',
                                'error'
                            )
                        }
                    }).fail();
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelado',
                        'La acción se ha omitido en este momento',
                        'error'
                    )
                }
            })
        }

        function aprobarComentario(idComentario) {

            console.log(idComentario);

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger me-4'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: '¿Estás seguro?',
                text: "Una vez aprobado se mostrará el comentario a todas las personas que revisen el lugar turístico, si consideras que el comentario no infringe nuestras políticas puedes aprobarlo",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Aprobar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("AprobarComentario", "Moderador")',
                        type: 'post',
                        dataType: 'json',
                        cache: false,
                        data: { id: idComentario }
                    }).done(function (resp) {
                        if (resp) {
                            swalWithBootstrapButtons.fire(
                                'Aprobado!',
                                'El comentario ha sido aprobado exitosamente.',
                                'success'
                            )
                            cargarDatos();
                        } else {
                            swalWithBootstrapButtons.fire(
                                'Cancelado',
                                'La acción se ha omitido en este momento',
                                'error'
                            )
                        }
                    }).fail();
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelado',
                        'La acción se ha omitido en este momento',
                        'error'
                    )
                }
            })
        }


            $('#formUbicacion').submit(function (event) {
                event.preventDefault();

                var valor = $("#Ubicacion").val();
                var tipo = $("#TipoUbicacion").val();

                if (valor != "") {
                    $.ajax({
                        url: '/Turista/findByMunicipio',
                        data: { sValor: valor, sTipo: tipo },
                        type: 'Post',
                        dataType: 'json',
                        cache: false,
                    }).done(function (resp) {
                        console.log(resp);
                        var content = $('#find-ubicacion');
                        var resultado = "";
                        if (resp.length == 0) {
                            console.log("nada");
                            resultado += "<br /><svg width='27' height='27' fill='none' stroke='#000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z'></path><path fill='#000000' stroke='none' d='M8.625 11.625a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z'></path><path fill='#000000' stroke='none' d='M15.375 11.625a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z'></path><path d='M15.497 15.918a4.5 4.5 0 0 0-6.994 0'></path></svg> ¡Ops!, parece que no hay resultados <br />";
                        }
                        else {
                            resultado += "<p> Total de resultados: " + resp.length + "</p>"
                            $.each(resp, function (index, lugar) {
                                var fechaComentario = new Date(lugar.fechaPublicacion);
                                var diferenciaComentario = new Date() - fechaComentario;

                                var formatoFechaComentario;

                                if (diferenciaComentario / (1000 * 60 * 60 * 24) >= 7) {
                                    formatoFechaComentario = fechaComentario.toLocaleDateString("es-ES", { day: "2-digit", month: "2-digit", year: "numeric" });
                                } else if (diferenciaComentario / (1000 * 60 * 60 * 24) >= 2) {
                                    formatoFechaComentario = `${Math.floor(diferenciaComentario / (1000 * 60 * 60 * 24))} días atrás`;
                                } else if (diferenciaComentario / (1000 * 60 * 60 * 24) >= 1) {
                                    formatoFechaComentario = "Ayer";
                                } else {
                                    formatoFechaComentario = "Hoy";
                                }

                                var img = 'data:image;base64,' + lugar.imagen;
                                resultado += "<div class='card mb-3'><div class='row g-0'><div class='col-md-4 feed-image'><img src='" + img + "' class='img-fluid rounded-start' alt='Foto del lugar'></div><div class='col-md-8'><div class='card-body'><h5 class='card-title'>" + lugar.nombreLugar + "</h5><p class='card-text'>" + lugar.descripcion + "</p><p class='card-text'><small class='text-muted'>" + formatoFechaComentario + "</small></p><p class='card-text'><a class='btn btn-primary btn-sm' href='/Turista/PostDetails/" + lugar.idLugar + "'>Ver publicación</a></p></div></div></div></div>";
                            });
                        }

                        content.empty();
                        content.append(resultado);
                    }).fail(function () {
                        Swal.fire({
                            title: 'Ocurrió un error en la búsqueda',
                            icon: 'error',
                            confirmButtonText: 'Continuar'
                        })
                    });
                } else {
                    Swal.fire({
                        title: 'Debes completar el campo para realizar la búsqueda',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    })
                }
            });

            function cargarDatosCategoria() {
                $.ajax({
                    url: '/Turista/getCategorias',
                    type: 'post',
                    dataType: 'json',
                    cache: false
                }).done(function (resp) {
                    console.log(resp);
                    var select = $("#Categorias");
                    $.each(resp, function (index, categoria) {
                        select.append('<option value="' + categoria.idCategoria + '">' + categoria.nombreCategoria + '</option>');

                    });

                }).fail();

            }

            function callAPI() {
                const url = 'https://newsdata.io/api/1/news?apikey=pub_24023d24caea9400184d5f62d4dbd77f52c41&q=el%20salvador&country=sv&language=es&category=entertainment,tourism';

                fetch(url)
                    .then(data => {
                        return data.json();
                    })
                    .then(dataJSON => {
                        var content = $("#news");
                        var res = "";
                        if (dataJSON.cod === '404') {
                            showError('datos no encontrados');
                        } else {
                            dataJSON.results.forEach(function (result) {
                                res += `
                                                <div class="card">
                                                  <div class="card-body">
                                                    <p class="card-text">${result.title}</p>
                                                    <a href="${result.link}" target="_blank" class="card-link text-center">Ver noticia</a>
                                                  </div>
                                                </div>
                                                <br/>
                                            `;
                            });
                        }
                        content.empty();
                        content.append(res);
                        console.log(dataJSON);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }

        </script>
    }


