@model List<Rol>

<h2>Roles</h2>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="Rol">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre Rol</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rol in Model)
        {
            <tr>
                <td>
                    @rol.NombreRol
                </td>
                <td>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="Estado" checked="@rol.Estado" disabled>
                        </div>
                    </div>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Rol" asp-route-id="@rol.IdRol">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Rol" asp-route-id="@rol.IdRol">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

                            @section Scripts {
    <script>
        $(document).ready(function () {
            if ('@ViewBag.ErrorMessage' !== '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '@ViewBag.ErrorMessage',
                    confirmButtonText: 'Cerrar'
                });
            }
            if ('@ViewBag.MessageCorrect' !== '') {
                Swal.fire({
                    icon: 'success',
                    title: 'Rol Registrado',
                    text: '@ViewBag.MessageCorrect',
                    confirmButtonText: 'Cerrar'
                });
            }
            if ('@ViewBag.MessageCorrectEdit' !== '') {
                Swal.fire({
                    icon: 'success',
                    title: 'Rol Actualizado',
                    text: '@ViewBag.MessageCorrectEdit',
                    confirmButtonText: 'Cerrar'
                });
            }
            if ('@ViewBag.MessageCorrectDelete' !== '') {
                Swal.fire({
                    icon: 'success',
                    title: 'Rol Eliminado',
                    text: '@ViewBag.MessageCorrectDelete',
                    confirmButtonText: 'Cerrar'
                });
            }
            if ('@ViewBag.ErrorMessageDelete' !== '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '@ViewBag.ErrorMessageDelete',
                    confirmButtonText: 'Cerrar'
                });
            }
        });
    </script>
}